<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=textqueue;AccountKey=bayJWN3i59QBitgNvpRrap4z7/v85IS6VYuk4tm3mtSpr5dQmLmgMXdhAned6g1Qct1iFJ+Eh8urAAdAeG5fNg==" />
    </appSettings>
</configuration>